{
  "env": {
    "test": {
      "presets": ["env"],
      "plugins": [
        [
          "module-resolver",
          {
            "alias": {
              "@": "./src/",
              "~": "./src/"
            }
          }
        ]
      ]
    }
  },
  "presets": ["env"]
}
